{% extends 'base.html' %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
</head>

<body>
    {% block content %}
    <h2>Welcome, if you have questions and are curious about Mama-5-Fitness,</h2>
    <h3>You are in the right place! Why were you invited to see this webstie?</h3>
    <h3>What is Mama-5-Fitness? Why does this matter? Who else is involved?</h3>
    <h3>How can I get involved? How can I help? Who is Samantha Short? </h3>
    {% endblock %}
</body>

</html>